<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/styles/buyer.css">
    <link rel="stylesheet" href="static/styles/satoshi.css">

    <link id="page-icon" rel="icon" href="static/assets/logo/logo-dark-mode.png" type="image/png">

    <title>BitBlocker - Buyer</title>
</head>
<body>

    <div id="popup" class="modal">
        <div class="modal-content">
            <span id="popup-close">&times;</span>
            <p id="popup-message"></p>
        </div>
    </div>

    <div class="top-bar">
        <div class="logo"><a href="/"><img src="static/assets/logo/logo-extended-dark-mode.png" alt="Logo"></a></div>
        <div class="eth-bar"></div> <!-- New red bar div -->
    </div>    

    <div class="product-grid">
    </div>

    <script  src="static/scripts/metamask.js"></script>
    <script  src="static/scripts/buyer.js"></script>
</body>
</html>