<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/styles/buyer.css">
    <link rel="stylesheet" href="static/styles/satoshi.css">

    <link id="page-icon" rel="icon" href="static/assets/logo-dark-mode.png" type="image/png">

    <title>BitBlocker - Demo</title>
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a href="/"><img src="static/assets/logo-extended-dark-mode.png" alt="Logo"></a></div>
    </div>
</body>
</html>