<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/styles/demo_styles.css">
    <link rel="stylesheet" href="static/styles/satoshi.css">

    <link id="page-icon" rel="icon" href="static/assets/logo-dark-mode.png" type="image/png">

    <title>BitBlocker - Demo</title>
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a href="/"><img src="static/assets/logo-extended-dark-mode.png" alt="Logo"></a></div>
    </div>

    <div class="container">
        <div class="cards">
            <div class="card animated-element">
                <div>
                    <h1>Buyer</h1>
                    <p>Step into the shoes of a real buyer and discover how we shield you from fraud and risks!</p>
                </div>
                <a class="run-demo big">Start Buying Safely</a>
            </div>
            <div class="card animated-element">
                <div>
                    <h1>Seller</h1>
                    <p>Experience the seller's side and learn how we help you build trust and secure more sales!</p>
                </div>
                <a class="run-demo big">Boost Your Sales Now</a>
            </div>
        </div>
    </div>
</body>
</html>