<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/styles/seller-orders.css">
    <link rel="stylesheet" href="static/styles/satoshi.css">

    <link id="page-icon" rel="icon" href="static/assets/logo/icon-dark.png" type="image/png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"></script>

    <title>Janus | Demo - Seller Orders</title>
</head>
<body>

    <div id="popup" class="modal">
        <div class="modal-content">
            <span id="popup-close">&times;</span>
            <p id="popup-message"></p>
        </div>
    </div>

    <div id="page-loader" class="loader-container">
        <div class="spinner"></div>
        <p class="loading-text">Loading</p>
    </div>

    <div class="top-bar">
        <div class="top-bar-content">
            <div class="logo">
                <a href="/"><img src="static/assets/logo/logo-extended-dark.png" alt="Logo"></a>
            </div>
        </div>
    </div>

    <div class="order-grid">
    </div>

    <script src="static/scripts/metamask.js"></script>
    <script src="static/scripts/seller-orders.js"></script>
</body>
</html>