html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    font-family: "Satoshi-Medium", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    background-color: black;
    user-select: none;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
    z-index: 1000;
    box-sizing: border-box;
    user-select: none;
}

.logo img {
    height: 48px;
    width: auto;
    white-space: nowrap;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

#popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#popup-close:hover,
#popup-close:focus {
    color: black;
    text-decoration: none;
}

body.modal-open {
    overflow: hidden;
}

body.modal-open .modal,
body.modal-open .modal-content {
    pointer-events: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 60px;
}

.product-card {
    background: #0d0d0d;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    margin: 0 auto 15px;
}

h3 {
    font-size: 24px;
    margin: 5px 0;
}

.stars {
    font-size: 24px;
    color: gold;
    margin: 5px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 20px;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    flex-grow: 1;
}

button:hover {
    background-color: #22fe1a;
}

button:active {
    font-weight: 700;
}
